<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Orleans.CodeGenerator.MSBuild" version="2.1.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Orleans.Core.Abstractions" version="2.1.2" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>